- name: Ensure docker-compose.yml exists
  ansible.builtin.stat:
    path: "{{ docker_compose_service_path }}/docker-compose.yml"
  register: compose_file

- name: Fail if docker-compose.yml is missing
  ansible.builtin.fail:
    msg: "docker-compose.yml not found in {{ docker_compose_service_path }}"
  when: not compose_file.stat.exists

- name: Pull and restart Docker containers
  community.docker.docker_compose_v2:
    project_src: "{{ docker_compose_service_path }}"
    pull: always        # pull latest images
    recreate: always    # recreate containers if images changed
    state: present      # ensure containers are running
  become: yes
  become_user: paul
  environment:
    PATH: "/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin"
  when: compose_file.stat.exists
