# Override ignore rules for important files
!inventory
!ansible.cfg
!README.md
!*.cfg
!*.md
!*.yml
!*.yaml
!demo_ansible_vault.pass

# Ignore temporary and environment files
ansible_vault.pass
*.swp
*.tmp
*.bak

# Ignore temporary directories and logs
tmp/
retries/
*.log

# Exclude a specific subdirectory in retries/
!retries/important_subdir/