# Override ignore rules for important files
!inventory
!ansible.cfg
!README.md
!*.cfg
!*.md
!*.yml
!*.yaml
!*.MD
!demo_ansible_vault.pass
!.gitignore
!.gitkeep


# Ignore temporary and environment files
ansible_vault.pass
*.swp
*.tmp
*.bak
*.log
.DS_Store
Thumbs.db



# Ignore directories 


#Ignore and logs
tmp/
retries/
*.log

